[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lmerTest"]
	path = lmerTest
	url = https://github.com/runehaubo/lmertestr
[submodule "ordinal"]
	path = ordinal
	url = https://github.com/runehaubo/ordinal
